@font-face {
    font-family: "Amatic";
    src: url(../fonts/AmaticSC-Bold.ttf);
}
@font-face {
    font-family: "Josefin";
    src: url(../fonts/JosefinSans-Bold.ttf);
}
body {
    font-family: "Josefin", sans-serif;
    margin: 0px;
    /* background-color: #72b9f3; */
    background-image: url("../img/IMG_1218.JPG");
}

#headerPic {
    position: absolute;
    background-image: url("../img/IMG_1218.JPG");
    background-position: top;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 3;
}
h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Amatic", sans-serif;
    font-size: min(130px, 15vw);
    color: #EDF4ED;
    background-color: #00000048;
    width: 92%;
    max-width: 670px;
    height: min(124px, 15vw);
    margin-top: 10vh;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
}
#headerListButtons {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    background-image: linear-gradient(#ffffff00, #31411a);
    position: absolute;
    width: 100%;
    height: 150px;
    bottom: 0px;
}
.headerButtons {
    text-decoration: none;
    color: #EDF4ED;
    font-size: min(35px, 4vw);
    margin-bottom: 4vh;
}
.headerButtons:hover {
    color: #e7ff60;
}
nav {
    display: grid;
    grid-template-columns: 28% repeat(3, 24%);
    grid-template-rows: 1fr;
    grid-template-areas:
        "navLogo navProducts navShops navContact";
    background-color: #122C34;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    height: 80px;
    width: 100%;
    z-index: 1;
}
nav div a {
    text-decoration: none;
    color: #EDF4ED;
    font-size: min(25px, 3vw);
}
nav div a:hover {
    color: #e7ff60;
}
.navButtons {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* hamburger menu */
#navMenu {
    display: none;
}
#iconMenu {
    color: #edf4ed;
    font-size: 40px;
    transform: rotate(0deg);
    transition: .3s;
}
#navMenu input:checked ~ #iconMenu {
    transform: rotate(90deg);
}
#navMenu input {
    z-index: 1;
    width: 40px;
    height: 40px;
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
#openMenu {
    top: 80px;
    left: 0px;
    height: auto;
    margin: 0px;
    padding: 0px 0px 40px 0px;
    width: 100%;
    list-style: none;
    background-color: #193d47;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform-origin: top;
    transform: scaleY(0);
    transition: .3s;
}
#navMenu input:checked ~ #openMenu {
    transform: scaleY(1);
}
#openMenu li {
    padding-top: 40px;
}
#openMenu li a {
    font-size: 25px;
}
/* fin hamburger menu */

#navLogo {
    grid-area: navLogo;
    justify-content: flex-start;
    margin-left: 10%;
    height: 80px;
}
#navLogoTxt {
    font-family: "Amatic";
    font-size: min(7vw, 80px);
    margin-top: -10px;
}
#navProducts {
    grid-area: navProducts;
}
#navShops {
    grid-area: navShops;
}
#navContact {
    grid-area: navContact;
}
#filler {
    height: calc(100vh + 100px);
}
/* bandeaux */
.bandeau {
    margin-top: 200px;
    height: 500px;
    background-color: #224870;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.bandeauTxt {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    height: 100%;
    color: #ffffff;
    text-align: justify;
}
.bandeau img {
    height: min(110%, 50vw);
    border: 1px solid #EDF4ED;
}
.bandeauTxt h3 {
    font-size: 2.2em;
}
.bandeauTxt p {
    font-size: 1.5em;
    text-decoration: none;
}
/*Nos produits*/
.sectionTitle {
    text-align: center;
    font-size: 2.5em;
    color: #224870;
    margin-top: 250px;
    margin-bottom: 120px;
}
.sectionTitle2 {
    text-align: center;
    font-size: 2.5em;
    color: #224870;
    margin-top: 1050px;
    margin-bottom: 120px;
}
#productList {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0px 15vw;
}
.productCategory {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    min-width: 430px;
    height: 30vw;
    min-height: 430px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 40px;
    text-decoration: none;
    opacity: 1;
    transition: .5s;
}
.productCategory:hover {
    background-size: 120%;
}
.productCategory h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 45px;
    font-size: 2em;
    color: #EDF4ED;
    background-color: #224870;
    border: none;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    transition: .5s;
}
.productCategory:hover h4 {
    height: 25%;
    background-color: #224870;
    border: 1px solid #EDF4ED;
}
#productImg1 {
    background-image: url(../img/IMG_4334.jpg);
}
#productImg2 {
    background-image: url(../img/public/IMG_1105.jpg);
}
#productImg3 {
    background-image: url(../img/unnamed.jpg);
}
#productImg4 {
    background-image: url(../img/public/IMG_1464.jpg);
}
/*Nous retrouver*/
#containerFindUs {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px 10vw;
    margin-bottom: 150px;
}
#mapFindUs {
    width: 40vw;
    min-width: 500px;
    transform: scale(1);
    transition: .5s;
}
#mapFindUs:hover {
    transform: scale(1.2);
}
#contactFindUs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.7em;
    line-height: 120%;
}
#socialFindUs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #122C34;
    margin-top: 50px;
    padding: 65px 70px;
}
#socialFindUs a {
    text-decoration: none;
    color: #ffffff;
}
#socialFindUs a:hover {
    color: #e7ff60;
}
#otherFindUs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #79B971;
    padding: 30px 0px;
}
/* footer */
footer {
    width: 100%;
    height: 120px;
    background-color: #122C34;
    display:flex;
    justify-content: space-around;
    padding-top:60px;
    font-size:20px;
}

/* queries bandeau et retrouver*/
@media screen and (max-width: 850px) {
    .bandeau {
        min-height: 400px;
        height: fit-content;
        margin-top: 200px;
        padding-bottom: 15px;
        flex-direction: column;
    }
    #bandeau2 {
        margin-top: 400px;
        flex-direction: column-reverse;
    }
    .bandeau img {
        margin: 0px 5vw;
        margin-top: -120px;
        height: 70vw;
    }
    .bandeauTxt {
        width: 90%;
    }
    #mapFindUs:hover { /* retrouver scale*/
        transform: scale(1);
    }
}
/* queries nav et produits et retrouver*/
@media screen and (max-width: 600px) {
    #headerListButtons { /* nav */
        align-items: center;
        justify-content: flex-end;
        flex-direction: column;
        height: 30vh;
    }
    .headerButtons {
        font-size: 30px;
    }
    nav div:not(#navMenu) a:not(#navLogoTxt) {
        display: none;
    }
    nav {
        grid-template-columns: 80% 20%;
        grid-template-areas:
            "navLogo navBurger";
    }
    #navLogo {
        margin-left: 5%;
    }
    #navLogoTxt {
        font-size: min(80px, 18vw);
    }
    #navMenu {
        display: flex;
    }
    .productCategory { /* produits */
        width: 70vw;
        min-width: 0px;
        height: 70vw;
        min-height: 0px;
    }
    .productList {
        padding: 0px 10vw;
    }
    #containerFindUs {/* nous retrouver */
        padding: 0px 5vw;
    }
    #mapFindUs {
        width: 80vw;
        min-width: 0px;
        transition: none;
    }
}
@media (hover: none) {
    .productCategory {
        background-size: 120%;
    }
    .productCategory h4 {
        height: 95%;
        background-color: #38422ad8;
        border: 1px solid #EDF4ED;
    }}

    


    #PicBooks {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        padding: 0px 15vw;
    }
    .productBook {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30vw;
        min-width: 430px;
        height: 30vw;
        min-height: 430px;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        margin-bottom: 40px;
        text-decoration: none;
        opacity: 1;
        transition: .5s;
    }
    
    .productBook h4 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 95%;
        height: 45px;
        font-size: 2em;
        color: #EDF4ED;
        background-color: #224870;
        border: none;
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
        transition: .5s;
    }
    
/* artistes photos */
#PicArtiste {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0px 15vw;
}
.productArtiste {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    min-width: 430px;
    height: 30vw;
    min-height: 430px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 40px;
    text-decoration: none;
    opacity: 1;
    transition: .5s;
}

.productArtiste h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 45px;
    font-size: 2em;
    color: #EDF4ED;
    background-color: #224870;
    border: none;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    transition: .5s;
}
.productArtiste:hover h4 {
    height: 25%;
    background-color: #224870;
    border: 1px solid #EDF4ED;
}
 
#productImg5 {
    background-image: url(../img/public/IMG_0846.JPG);
}
#productImg6 {
    background-image: url(../img/public/IMG_0928.JPG);
}
#productImg7 {
    background-image: url(../img/public/IMG_0949.JPG);
}
#productImg8 {
    background-image: url(../img/public/IMG_0950.JPG);
}
#productImg9 {
    background-image: url(../img/public/IMG_0951.JPG);
}
#productImg10 {
    background-image: url(../img/public/IMG_0960.JPG);
}
#productImg11 {
    background-image: url(../img/public/IMG_0961.JPG);
}
#productImg12 {
    background-image: url(../img/public/IMG_0964.JPG);
}
#productImg13 {
    background-image: url(../img/public/IMG_0966.JPG);
}
#productImg14 {
    background-image: url(../img/public/IMG_0973.JPG);
}
#productImg15 {
    background-image: url(../img/public/IMG_0974.JPG);
}
#productImg16 {
    background-image: url(../img/public/IMG_0975.JPG);
}
#productImg17 {
    background-image: url(../img/public/IMG_0984.JPG);
}
#productImg18 {
    background-image: url(../img/public/IMG_0994.JPG);
}
#productImg19 {
    background-image: url(../img/public/IMG_0995.JPG);
}
#productImg20 {
    background-image: url(../img/public/IMG_0997.JPG);
}
#productImg21 {
    background-image: url(../img/public/IMG_1004.JPG);
}
#productImg22 {
    background-image: url(../img/public/IMG_1005.JPG);
}
#productImg23 {
    background-image: url(../img/public/IMG_1011.JPG);
}
#productImg24 {
    background-image: url(../img/public/IMG_1015.JPG);
}
#productImg25 {
    background-image: url(../img/public/IMG_1016.JPG);
}
#productImg26 {
    background-image: url(../img/public/IMG_1019.JPG);
}
#productImg27 {
    background-image: url(../img/public/IMG_1023.JPG);
}
#productImg28 {
    background-image: url(../img/public/IMG_1027.JPG);
}
#productImg29 {
    background-image: url(../img/public/IMG_1030.JPG);
}
#productImg30 {
    background-image: url(../img/public/IMG_1031.JPG);
}
#productImg31 {
    background-image: url(../img/public/IMG_1042.JPG);
}
#productImg32 {
    background-image: url(../img/public/IMG_1044.JPG);
}
#productImg33 {
    background-image: url(../img/public/IMG_1047.JPG);
}
#productImg34 {
    background-image: url(../img/public/IMG_1048.JPG);
}
#productImg35 {
    background-image: url(../img/public/IMG_1051.JPG);
}
#productImg36 {
    background-image: url(../img/public/IMG_1057.JPG);
}
#productImg37 {
    background-image: url(../img/public/IMG_1058.JPG);
}
#productImg38 {
    background-image: url(../img/public/IMG_1059.JPG);
}
#productImg39 {
    background-image: url(../img/public/IMG_1108.JPG);
}
#productImg40 {
    background-image: url(../img/public/IMG_1110.JPG);
}
#productImg41 {
    background-image: url(../img/public/IMG_1139.JPG);
}
#productImg42 {
    background-image: url(../img/public/IMG_1163.JPG);
}
#productImg43 {
    background-image: url(../img/public/IMG_1165.JPG);
}
#productImg44 {
    background-image: url(../img/public/IMG_1166.JPG);
}
#productImg45 {
    background-image: url(../img/public/IMG_1167.JPG);
}
#productImg46 {
    background-image: url(../img/public/IMG_1168.JPG);
}
#productImg47 {
    background-image: url(../img/public/IMG_1170.JPG);
}
#productImg48 {
    background-image: url(../img/public/IMG_1171.JPG);
}
#productImg49 {
    background-image: url(../img/public/IMG_1173.JPG);
}
#productImg50 {
    background-image: url(../img/public/IMG_1176.JPG);
}
#productImg51 {
    background-image: url(../img/public/IMG_1178.JPG);
}
#productImg52 {
    background-image: url(../img/public/IMG_1180.JPG);
}
#productImg53 {
    background-image: url(../img/public/IMG_1181.JPG);
}
#productImg54 {
    background-image: url(../img/public/IMG_1185.JPG);
}
#productImg55 {
    background-image: url(../img/public/IMG_1263.JPG);
}
#productImg56 {
    background-image: url(../img/public/IMG_1265.JPG);
}
#productImg57 {
    background-image: url(../img/public/IMG_1294.JPG);
}
#productImg58 {
    background-image: url(../img/public/IMG_1415.JPG);
}
#productImg59 {
    background-image: url(../img/public/IMG_1416.JPG);
}
#productImg60 {
    background-image: url(../img/public/IMG_1459.JPG);
}
#productImg61 {
    background-image: url(../img/public/IMG_1462.JPG);
}
#productImg62 {
    background-image: url(../img/public/IMG_1461.JPG);
}
#productImg63 {
    background-image: url(../img/public/IMG_1464.JPG);
}
#productImg64 {
    background-image: url(../img/public/IMG_1466.JPG);
}
#productImg65 {
    background-image: url(../img/public/en/IMG_0922.JPG);
}
#productImg66 {
    background-image: url(../img/public/en/IMG_0972.JPG);
}
#productImg67 {
    background-image: url(../img/public/en/IMG_0979.JPG);
}
#productImg68 {
    background-image: url(../img/public/en/IMG_0980.JPG);
}
#productImg69 {
    background-image: url(../img/public/en/IMG_0981.JPG);
}
#productImg70 {
    background-image: url(../img/public/en/IMG_0982.JPG);
}
#productImg71 {
    background-image: url(../img/public/en/IMG_1183.JPG);
}
#productImg72 {
    background-image: url(../img/public/en/IMG_1185.JPG);
}
#productImg73 {
    background-image: url(../img/public/en/IMG_1187.JPG);
}
#productImg74 {
    background-image: url(../img/public/en/IMG_1188.JPG);
}
#productImg75 {
    background-image: url(../img/public/en/IMG_1189.JPG);
}
   
    /*social media */

    #socialFindUs2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #122C34;
        margin-top: 20px;
        padding: 60px;
    }

    /* 666 */

    
/*formulaire*/
form {
    padding: 30px;
    background-color: white;
    border-radius: 10px;
  }
  form h1 {
    font-size: 20px;
  }
  form .separation {
    width: 100%;
    height: 1px;
    background-color: #747cdf;
  }
  form .corps-formulaire {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
  form .corps-formulaire .groupe {
    position: relative; /* Pour mettre positionner l’élément dans le flux normal de la page */
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }
  form .corps-formulaire .gauche .groupe input {
    margin-top: 5px;
    padding: 10px 5px 10px 30px;
    border: 1px solid #c9c9c9;
    outline-color: #747cdf;
    border-radius: 5px;
  }
form .corps-formulaire .gauche .groupe i {
    position: absolute; /* positionné par rapport à son parent le plus proche positionné */
    left: 0;
    top: 25px;
    padding: 9px 8px;
    color: #747cdf;
  }
  form .corps-formulaire .droite {
    margin-left: 40px;
  }
  form .corps-formulaire .droite .groupe {
    height: 100%;
  }
  form .corps-formulaire .droite .groupe textarea {
    margin-top: 5px;
    padding: 10px;
    background-color: #f1f1f1;
    border: 2px solid #747cdf;
    outline: none;
    border-radius: 5px;
    resize: none;
    height: 72%;
  }
  form .pied-formulaire button {
    margin-top: 10px;
    background-color: #747cdf;
    color: white;
    font-size: 15px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: transform 0.5s;
  }
  form .pied-formulaire button:hover {
    transform: scale(1.05);
  }
  
  @media screen and (max-width: 920px) {
    form .corps-formulaire .droite {
      margin-left: 0px;
    }
  }
  